.btn-progas {
    background-color: rgba(255, 245, 0, 0.8) !important;
 color: #2c3e50 !important;
 border-color: rgb(108, 117, 125) !important;
 /* font-weight: bold; */
}

.btn-progas:hover {
 color: white  ;
 background-color: rgb(108, 117, 125) ;
background-color: rgba(229, 200, 0, 0.883)!important;
}

.btn-progas:focus {
 outline: none  !important;
 box-shadow: none  !important;
}


.btn-progas-cancel {
    background-color: rgba(255, 245, 0, 0.8) !important;
 color: #2c3e50 !important;
 border-color: rgb(108, 117, 125) !important;
 /* font-weight: bold; */
}

.btn-progas-cancel:hover {
 color: white  ;
 background-color: rgb(108, 117, 125) ;
background-color: rgba(229, 200, 0, 0.883)!important;
}

.btn-progas-cancel:focus {
 outline: none  !important;
 box-shadow: none  !important;
}

.btn-progas-save {
    /* background-color: rgb(247, 47, 47) !important; */
    
   background-color: rgba(143, 0, 0, 0.91)!important;
    color: white !important ;
 border-color: rgb(108, 117, 125) !important;
 /* font-weight: bold; */
}

.btn-progas-save:hover {
 color: white !important ;
background-color: rgba(229, 0, 0, 0.883)!important;
}

.btn-progas-save:focus {
 outline: none  !important;
 box-shadow: none  !important;
}

.btn-outline-progas {
    /* background-color: rgb(247, 47, 47) !important; */
 color:rgba(255, 245, 0, 0.8) !important;
 border-color:  rgba(255, 245, 0, 0.8) !important;
 /* padding-left: 3px; */
 /* font-weight: bold; */
}

.btn-outline-progas:hover {
    color: #2c3e50!important;
background-color: rgba(255, 245, 0, 0.8) !important;
}

.btn-outline-progas:focus {
 outline: none  !important;
 box-shadow: none  !important;
}

.table-holiday {
    color: white !important ;
   background-color: rgba(143, 0, 0, 0.91)!important;
}
   
.text-left{
    text-align: left;
}
.color-green{
    color: #28a745;
}

.color-red{
    color:  #dc3545;
}

.color-progas-yellow {
    color: rgba(255, 245, 0, 0.8);
    
}

.text-progas {
    color: rgba(255, 245, 0, 0.8)!important;
    
}
.bg-progas {
    /* color: white  ; */
    background-color: rgb(97, 93, 92) !important;
   }

.select-text-color {
    color: rgba(255, 245, 0, 0.8);
}

.time-is-almost-up {
    color: white;
    background-color: rgb(247, 132, 17) !important;
}

.time-is-up {
    color: white;
    background-color: rgb(241, 63, 14) !important;
}